<launch>
     <arg name="localization"           default="false"/>
     <arg name="namespace"              default="rtabmap"/>
     <arg name="database_path"          default="~/.ros/rtabmap.db"/>
     <arg name="gui_cfg"                default="~/.ros/rtabmap_gui.ini" />

     <!-- roslaunch prefix args -->
     <arg if="$(arg localization)"      name="args"                   default=""/>
     <arg unless="$(arg localization)"  name="args"                   default="--delete_db_on_start"/>
     <arg name="rtabmap_args"           default="$(arg args)"/>
     <arg name="output"                 default="screen"/>
     <arg name="launch_prefix"          default=""/>

     <!-- General flags -->
     <arg name="publish_tf_map"         default="true"/>
     <arg name="odom_sensor_sync"       default="false"/>
     <arg name="approx_sync"            default="true"/>
     <arg name="viz"                    default="false"/>

     <!-- ROS topics -->
     <arg name="frame_id"               default="base_link"/>
     <arg name="odom_frame_id"          default=""/>
     <arg name="odom_topic"             default="/swansonPi4/odometry/filtered"/>
     <!-- <arg name="odom_topic"             default="/swansonPi4/dead_reckoning"/> -->
     <arg name="imu_topic"              default="/swansonPi4/imu/data/filtered"/>
     <arg name="rgb_topic"              default="/hytx/camera/color/image_raw" />
     <arg name="depth_topic"            default="/hytx/camera/depth/image_rect_raw" />
     <arg name="camera_info_topic"      default="/hytx/camera/color/camera_info" />

     <!-- misc param config -->
     <arg name="queue_size"                  default="10"/>
     <arg name="wait_for_transform_dt"       default="0.2"/>
     <arg name="odom_tf_angular_variance"    default="1"/>
     <arg name="odom_tf_linear_variance"     default="1"/>

     <!-- Feature Extraction Method
          0=SURF
          1=SIFT
          2=ORB
          3=FAST/FREAK
          4=FAST/BRIEF
          5=GFTT/FREAK
          6=GFTT/BRIEF (default)
          7=BRISK
          8=GFTT/ORB
          9=KAZE
          10=ORB-OCTREE
     -->
     <arg name="feature_method"      default="6"/>

     <!-- Visual SLAM -->
     <group ns="$(arg namespace)">
          <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="$(arg output)" args="$(arg rtabmap_args)" launch-prefix="$(arg launch_prefix)">
               <param name="subscribe_depth"      type="bool" value="true"/>
               <param name="subscribe_odom_info"  type="bool" value="true"/>
               <param name="queue_size"           type="int" value="$(arg queue_size)"/>

               <remap from="odom"                 to="$(arg odom_topic)"/>
               <remap from="imu"                  to="$(arg imu_topic)"/>
               <remap from="rgb/image"            to="$(arg rgb_topic)"/>
               <remap from="depth/image"          to="$(arg depth_topic)"/>
               <remap from="rgb/camera_info"      to="$(arg camera_info_topic)"/>

               <param name="frame_id"             type="string" value="$(arg frame_id)"/>
               <param name="publish_tf"           type="bool"   value="$(arg publish_tf_map)"/>
               <param name="database_path"        type="string" value="$(arg database_path)"/>
               <param name="approx_sync"          type="bool"   value="$(arg approx_sync)"/>
               <param name="odom_sensor_sync"     type="bool"   value="$(arg odom_sensor_sync)"/>

               <param name="odom_tf_angular_variance"       type="double" value="$(arg odom_tf_angular_variance)"/>
               <param name="odom_tf_linear_variance"        type="double" value="$(arg odom_tf_linear_variance)"/>
               <param name="wait_for_transform_duration"    type="double" value="$(arg wait_for_transform_dt)"/>

               <!-- Misc settings -->
               <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
               <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
               <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
               <param name="Reg/Force3DoF"             type="bool" value="true" />
               <param name="Grid/3D"                   type="bool" value="true"/>
               <param name="Kp/DetectorStrategy"       type="string" value="$(arg feature_method)"/>
               <param name="Rtabmap/DetectionRate"     value="3"/> <!-- default = 1 -->
               <param name="Optimizer/Strategy"        value="1"/> <!-- default = 2 -->

               <param name="RGBD/LocalBundleOnLoopClosure" type="string" value="true"/>   <!-- Local loop closure detection (using estimated position) with locations in WM -->
               <param name="RGBD/OptimizeFromGraphEnd"     type="string" value="false"/>  <!-- Set to false to generate map correction between /map and /odom -->
               <param name="Reg/Strategy"                  type="string" value="0"/>      <!-- Loop closure transformation: 0=Visual, 1=ICP, 2=Visual+ICP -->
               <param name="Vis/MinInliers"                type="string" value="15"/>      <!-- 3D visual words minimum inliers to accept loop closure -->
               <param name="Vis/InlierDistance"            type="string" value="0.1"/>    <!-- 3D visual words correspondence distance -->

               <param name="Grid/FootprintHeight"           value="0.26"/>
               <param name="Grid/FootprintLength"           value="0.52"/>
               <param name="Grid/FootprintWidth"            value="0.49"/>
               <param name="Grid/MaxObstacleHeight"         value="0.5"/>
               <param name="GridGlobal/FootprintRadius"     value="0.24"/>
               <param name="Grid/DepthRoiRatios"            value="0.1 0.0 0.0 0.0"/>
               <param name="Kp/MaxFeatures"                 value="1500"/>
               <param name="Vis/MaxFeatures"                value="1500"/>
               <param name="g2o/Baseline"                   value="0.014732"/>
          </node>

          <node if="$(arg viz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(arg gui_cfg)" output="screen" launch-prefix="$(arg launch_prefix)">
               <param name="subscribe_depth"          type="bool" value="true"/>
               <param name="subscribe_odom_info"      type="bool" value="true"/>
               <param name="frame_id"                 type="string" value="$(arg frame_id)"/>
               <param name="odom_frame_id"            type="string" value="$(arg odom_frame_id)"/>
               <param name="queue_size"               type="int"    value="$(arg queue_size)"/>
               <param name="approx_sync"              type="bool"   value="$(arg approx_sync)"/>
               <param name="wait_for_transform_duration" type="double"   value="$(arg wait_for_transform_dt)"/>

               <remap from="odom"            to="$(arg odom_topic)"/>
               <remap from="rgb/image"       to="$(arg rgb_topic)"/>
               <remap from="depth/image"     to="$(arg depth_topic)"/>
               <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
          </node>

     </group>

</launch>
