<launch>
     <arg name="flag_test"              default="false"/>
     <arg if="$(arg flag_test)"     name="namespace" default="/hytx/rtabmap"/>
     <arg unless="$(arg flag_test)" name="namespace" default="rtabmap"/>
     <!-- roslaunch prefix args -->
     <arg name="args"                    default="--delete_db_on_start"/>              <!-- delete_db_on_start, udebug -->
     <arg name="rtabmap_args"            default="$(arg args)"/>
     <arg name="odom_args"               default="$(arg args)"/>
     <arg name="launch_prefix"           default=""/>              <!-- for debugging purpose, it fills launch-prefix tag of the nodes -->
     <arg name="output"                  default="log"/>        <!-- Control node output (screen or log) -->

     <!-- Flags -->
     <arg name="approx_sync"               default="true"/>
     <arg name="publish_tf_odom"           default="false"/>

     <!-- ROS topics -->
     <arg if="$(arg flag_test)"     name="vo_topic" default="/test_vo"/>
     <arg unless="$(arg flag_test)" name="vo_topic" default="/vo"/>
     <arg name="rgb_topic"               default="/hytx/camera/color/image_raw" />
     <arg name="depth_topic"             default="/hytx/camera/depth/image_rect_raw" />
     <arg name="camera_info_topic"       default="/hytx/camera/color/camera_info" />
     <!-- Frame ids -->
     <arg name="frame_id"                default="base_link"/>
     <arg name="vo_frame_id"             default="odom"/>

     <!-- misc param config -->
     <arg name="queue_size"              default="60"/>
     <arg name="wait_for_transform_dt"   default="0.2"/>

     <!-- Feature Extraction Method
          0=SURF
          1=SIFT
          2=ORB
          3=FAST/FREAK
          4=FAST/BRIEF
          5=GFTT/FREAK
          6=GFTT/BRIEF (default)
          7=BRISK
          8=GFTT/ORB
          9=KAZE
          10=ORB-OCTREE
     -->
     <arg name="feature_method"      default="6"/>
     <!--
     Odometry Filtering Strategy:
          0 = No filtering (default)
          1 = Kalman Filtering
          2 = Particle Filtering
     -->
     <arg name="odom_filter_method"  default="0"/>
     <!--
     Odometry Estimating Method:
          0 = Frame-to-Map (F2M) (default)
          1 = Frame-to-Frame (F2F)
          2 = Fovis
          3 = viso2
          4 = DVO-Slam
          5 = ORB-Slam2
          6 = OKVIS
          7 = LOAM
          8 = MSCKF-VIO
     -->
     <arg if="$(arg flag_test)"     name="odom_strategy"  default="0"/>
     <arg unless="$(arg flag_test)" name="odom_strategy"  default="1"/>

     <!-- RGB-D Odometry -->
     <group ns="$(arg namespace)">
          <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="$(arg output)" args="$(arg rtabmap_args) $(arg odom_args)" launch-prefix="$(arg launch_prefix)">
               <remap from="odom"            to="$(arg vo_topic)"/>
               <remap from="rgb/image"       to="$(arg rgb_topic)"/>
               <remap from="depth/image"     to="$(arg depth_topic)"/>
               <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>

               <param name="frame_id"                    type="string" value="$(arg frame_id)"/>
               <param name="odom_frame_id"               type="string" value="$(arg vo_frame_id)"/>
               <param name="publish_tf"                  type="bool"   value="$(arg publish_tf_odom)"/>
               <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform_dt)"/>
               <param name="approx_sync"                 type="bool"   value="$(arg approx_sync)"/>
               <param name="queue_size"                  type="int"    value="$(arg queue_size)"/>

               <!-- Misc settings -->
               <param name="Vis/CorType"            value="0"/>
               <param name="Reg/Force3DoF"          value="true" />
               <param name="Odom/ResetCountdown"    type="string" value="35"/>
               <param name="Odom/Holonomic"         type="bool" value="false"/>
               <param name="Vis/FeatureType"        type="string" value="$(arg feature_method)"/>
               <param name="Odom/Strategy"          type="string" value="$(arg odom_strategy)"/>
               <param name="Odom/FilteringStrategy" type="string" value="$(arg odom_filter_method)"/>
               <!-- <param name="GFTT/MinDistance"       type="string" value="5"/> -->

               <param name="Odom/ImageBufferSize"           value="15"/> <!-- default = 1 -->
               <param name="Odom/KalmanMeasurementNoise"    value="0.1"/> <!-- default = 0.01 -->
               <param name="Odom/KalmanProcessNoise"        value="0.001"/> <!-- default = 0.001 -->
               <param name="Optimizer/Iterations"           value="20"/> <!-- default = 20 -->
               <param name="Optimizer/Strategy"             value="1"/> <!-- default = 1 -->
               <param name="Reg/Strategy"                   value="0"/> <!-- default = 0 ____ [0=Vis, 1=Icp, 2=VisIcp] -->
               <param name="g2o/Optimizer"                  value="0"/> <!-- default = 0 ____ [0=Levenberg 1=GaussNewton] -->
               <param name="g2o/Solver"                     value="0"/> <!-- default = 0 ____ [0=csparse 1=pcg 2=cholmod 3=Eigen] -->

               <param if="$(arg flag_test)" name="OdomF2M/MaxSize" value="2000"/>
               <param if="$(arg flag_test)" name="Vis/MaxFeatures" value="2000"/>
               <param if="$(arg flag_test)" name="g2o/Baseline"    value="0.014732"/>
               <param if="$(arg flag_test)" name="Vis/RoiRatios"   value="0.1 0.0 0.0 0.0"/>
               <!-- <param name="Grid/FootprintHeight"           value="0.26"/>
               <param name="Grid/FootprintLength"           value="0.52"/>
               <param name="Grid/FootprintWidth"            value="0.49"/>
               <param name="Grid/MaxObstacleHeight"         value="0.5"/>
               <param name="GridGlobal/FootprintRadius"     value="0.24"/> -->
          </node>
     </group>
</launch>
