<launch>
     <arg name="verbose_obstacles" default="true"/>
     <arg name="verbose_timings" default="false"/>
     <arg name="publish_tf" default="true"/>
     <arg name="publish_images" default="true"/>
     <arg name="publish_obstacles_image" default="true"/>
     <arg name="use_float_depth" default="true"/>

     <node pkg="swanson_algorithms" type="vboats_ros_node" name="vboats_tester" output="screen">
          <param name="verbose_obstacles" value="$(arg verbose_obstacles)"/>
          <param name="verbose_timings" value="$(arg verbose_timings)"/>
          <param name="publish_tf" value="$(arg publish_tf)"/>
          <param name="publish_images" value="$(arg publish_images)"/>
          <param name="publish_obstacles_image" value="$(arg publish_obstacles_image)"/>
          <param name="use_float_depth" value="$(arg use_float_depth)"/>
     </node>

</launch>
