<launch>
     <arg name="verbose"  default="false"/>
     <node pkg="swanson_sensors" type="rtimu_ros_node" name="imu_node" respawn="true" output="screen">
          <param name="root_path"   value="$(find swanson_sensors)/config"/>
          <param name="config_file" value="razor_m0_imu"/>
          <param name="imu_topic"   value="imu/data/raw"/>
          <param name="mag_topic"   value="imu/mag"/>
          <param name="pose_topic"  value="imu/pose/raw"/>
          <param name="verbose"     value="$(arg verbose)"/>
     </node>

    <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
         <param name="world_frame" value="enu" />
         <param name="fixed_frame" value="imu_link" />
         <param name="reverse_tf" value="false" />
         <param name="publish_tf" value="false" />
         <param name="use_mag" value="true" />
         <param name="gain" value="0.2" />
         <param name="use_magnetic_field_msg" value="true" />
         <remap from="imu/data_raw" to="imu/data/raw" />
         <remap from="imu/data" to="imu/data/filtered" />
    </node> -->

</launch>
