<?xml version="1.0"?>
<launch>
     <!-- Base Platform and Drivetrain Constants -->
     <arg name="maxVel"                 default="2.0"/>
     <arg name="maxTurnRadius"          default="0.381"/>
     <arg name="baseWidth"              default="0.219"/>
     <arg name="wheelDiameter"          default="0.1905"/>
     <arg name="pulsesPerMeter"         default="9596"/>
     <!-- Sensor bringup params -->
     <arg name="use_rtimulib"           default="true"/>
     <arg name="razor_config_file"      default="$(find razor_imu_9dof)/config/razor.yaml"/>
     <arg name="use_rs_cam"             default="false"/>
     <arg name="use_sweep"              default="false"/>
     <arg name="cam_fps"                default="30"/>
     <arg name="cam_width"              default="848"/>
     <arg name="cam_height"             default="480"/>
     <!-- Teleop bringup params -->
     <arg name="use_android_app"        default="false"/>

     <!-- Bringup swanson's motion drivers for motor control -->
     <include file="$(find swanson_base)/launch/drivetrain_bringup.launch">
          <arg name="maxVel"            value="$(arg maxVel)"/>
          <arg name="maxTurnRadius"     value="$(arg maxTurnRadius)"/>
          <arg name="baseWidth"         value="$(arg baseWidth)"/>
          <arg name="wheelDiameter"     value="$(arg wheelDiameter)"/>
          <arg name="pulsesPerMeter"    value="$(arg pulsesPerMeter)"/>
     </include>

     <!-- Bringup on-board sensors -->
     <include file="$(find swanson_base)/launch/sensors_bringup.launch">
          <arg name="use_rtimulib"      value="$(arg use_rtimulib)"/>
          <arg name="razor_config_file" value="$(arg razor_config_file)"/>
          <arg name="use_rs_cam"        value="$(arg use_rs_cam)"/>
          <arg name="use_sweep"         value="$(arg use_sweep)"/>
          <arg name="cam_fps"           value="$(arg cam_fps)"/>
          <arg name="cam_width"         value="$(arg cam_width)"/>
          <arg name="cam_height"        value="$(arg cam_height)"/>
     </include>

     <!-- Bringup Android app teleop interface (Optional) -->
     <include if="$(arg use_android_app)" file="$(find swanson_base)/launch/joy_bringup.launch">
          <arg name="maxVel"            value="$(arg maxVel)"/>
          <arg name="maxTurnRadius"     value="$(arg maxTurnRadius)"/>
     </include>

     <node pkg="tf" type="static_transform_publisher" name="tf_basefootprint" args="0 0 0.15 0 0 0 base_footprint base_link 100"/>

     <!-- FUTURE: Gazebo and robot description related nodes -->
     <!-- <arg name="x" default="-0.4"/>
     <arg name="y" default="-0.3"/>
     <arg name="z" default="0.175"/>
     <arg name="roll" default="0"/>
     <arg name="pitch" default="0"/>
     <arg name="yaw" default="0"/> -->

     <!-- Launch configuration settings -->

     <!-- <arg name="bot_model" default="swanson_base.urdf.xacro" />
     <param name="robot_description" command="$(find xacro)/xacro $(find swanson_description)/robots/$(arg bot_model)" />

     <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
          <param name="publish_frequency" type="double" value="200.0"/>
          <param name="tf_prefix"         value="/"/>
          <param name="robot_description" value="/robot_description"/>
     </node>

     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="rate" type="double" value="50.0"/>
	</node>

     <node name="spawn_swanson" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll)
         -P $(arg pitch) -Y $(arg yaw) -urdf -param robot_description -model Swanson"
          output="screen"
     /> -->

</launch>
